<h1>RoshivTech</h1>
  <nav>
    <ul>
      <ul>
        <li><a href="/">Gallery</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li> 
      </ul><br>
    </ul><br>
  </nav>