<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <%- include('../partials/header'); %>
  <h2>Register Form</h2>
    </div>
    <div class="news">
    <div class="newsheader" >
      <input type="text" placeholder="Name" name="name" required>
      <input type="text" placeholder="Email address" name="mail" required></div>
      <div>
      <label class="checkbox">
        <input type="checkbox" checked="checked" name="subscribe"> Daily Newsletter
      </label><br>
    </div>
    </div>
  </form><br>
</div>
<footer class="footer"><%- include('../partials/footer'); %></footer>
</body>
</html>